# ============= #
# IDE generated #
# ============= #
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]pp[Pp]ackages/
/[Dd]ebug/
/[Rr]elease/
/[Rr]eleases/
/x86/
/x64/
[Bb]in/
[Bb]in-[Rr]elease/
[Bb]uild/
[Bb]uilds/
[Bb]ld/
[Dd]ebugPublic/
[Ee]xported[Oo]bj/
.idea/
.builds/
.consulo/
.idea/
.vs/
*.[Cc]ache
*.[Cc]ache[Ff]ile
*.csproj.user
*.mdb
*.pidb
*.pdb
*.svd
*.temp
*.tmp
*.tmp_proj
*.unityproj
*.userprefs

# ============== #
# Tool generated #
# ============== #
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Uu]nity[Gg]enerated/
[Ss]witchIL2CPPCache/
[Ss]witchIL2CPPStats/
[Ll]ogs/
.gradle/
_ReSharper*/
*.pidb.meta
*.[Dd]otCover
*.[Dd]otSettings.user
*.[Rr]e[Ss]harper
sysinfo.txt

# =============== #
# NuGet generated #
# =============== #
**/[Pp]ackages/*
/[Aa]rtifacts/
*.nupkg
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json

# ===================== #
# Text editor generated #
# ===================== #
~$*
*~

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?
Icons?

# ====== #
# Builds #
# ====== #
*.apk
*.app
*.dll
*.exe
*.iap
*.unitypackage
ParquetClassLibrary/Parquet.xml
ParquetClassLibrary/Parquet.Documentation.xml
ParquetRunner/ParquetRunner.Documentation.xml
ParquetUnitTests/ParquetUnitTests.Documentation.xml

# ================== #
# Paige Stuff #
# ================== #
*.old
